
.techstack_icons{
    flex: 33%;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.techstack_icons > img{
    width: 60px;
    cursor: pointer;
}

.techstack_icons > img:hover{
    transform: scale(0.8);
}